#####################################
# KingStarter specific ignore rules #
#####################################

# Directories
#############
build
bin
logs
vendor

# PhpStorm
##########
.idea

# Visual Studio Code
####################
.vscode

# Windows thumbnails cache
##########################
Thumbs.db

# MacOS cache
#############
.DS_Store

########################
# General ignore rules #
########################

# General files
###############
.*.swp
*~

